
<%= form_with model: paste do |f| %>
  <% if paste.errors.any? %>
    <div>
      <h3><%= paste.errors.count %> errors</h3>
      <ul>
        <% paste.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :body, "본문" %><br>
    <%= f.text_area :body, rows: 10, required: true %>
  </div>

  <% if paste.new_record? %>
    <div>
      <%= f.label :tag, "태그" %><br>
      <%= f.text_field :tag, required: true, maxlength: 20 %>
    </div>
  <% else %>
    <div>
      <strong>태그</strong><br>
      <%= paste.tag %>
    </div>
  <% end %>

  <div>
    <%= f.label :password %><br>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation, "비밀번호 확인" %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div>
    <%= f.check_box :read_once %>
    <%= f.label :read_once, "한 번만 읽기" %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
