
<%= form_with model: paste do |f| %>
  <% if paste.errors.any? %>
    <div>
      <h3><%= t("errors.template.header", count: paste.errors.count) %></h3>
      <ul>
        <% paste.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :body, t("pastes.form.body_label") %>
    <span class="required-marker">*</span><br>
    <%= f.text_area :body, rows: 10, required: true, placeholder: t("pastes.form.body_placeholder") %>
  </div>

  <% if paste.new_record? %>
    <div>
      <%= f.label :tag, t("pastes.form.tag_label") %>
      <span class="required-marker">*</span><br>
      <%= f.text_field :tag, required: true, maxlength: 20, placeholder: t("pastes.form.tag_placeholder") %>
    </div>
  <% else %>
    <div>
      <strong><%= t("pastes.form.tag_label") %></strong><br>
      <%= paste.tag %>
    </div>
  <% end %>

  <div>
    <%= f.label :password, t("pastes.form.password_label") %><br>
    <%= f.password_field :password, placeholder: t("pastes.form.password_placeholder") %>

    <%= f.label :password_confirmation, t("pastes.form.password_confirmation_label") %>
    <%= f.password_field :password_confirmation, placeholder: t("pastes.form.password_confirmation_placeholder") %>
  </div>

  <div>
    <%= f.check_box :read_once %>
    <%= f.label :read_once, t("pastes.form.read_once_label") %>
  </div>

  <div>
    <%= f.submit(paste.new_record? ? t("common.actions.create") : t("common.actions.save")) %>
  </div>
<% end %>
