<h1>🔒 <%= t("pastes.locked.title") %></h1>

<%= form_with url: unlock_paste_path(@paste), method: :post, local: true do |f| %>
  <div>
    <%= label_tag :password, t("pastes.locked.password_label") %>
    <%= password_field_tag :password %>
  </div>

  <div>
    <%= submit_tag t("common.actions.confirm") %>
  </div>
<% end %>

<% if flash[:alert].present? %>
  <p><%= flash[:alert] %></p>
<% end %>
