<h1>ðŸ”’ ë¹„ë°€ê¸€ìž…ë‹ˆë‹¤</h1>

<%= form_with url: unlock_paste_path(@paste), method: :post, local: true do |f| %>
  <div>
    <%= label_tag :password, "ë¹„ë°€ë²ˆí˜¸" %>
    <%= password_field_tag :password %>
  </div>

  <div>
    <%= submit_tag "í™•ì¸" %>
  </div>
<% end %>

<% if flash[:alert].present? %>
  <p><%= flash[:alert] %></p>
<% end %>