<h1><%= t("pastes.mine.title") %></h1>
<p><%= link_to t("pastes.mine.back_to_list"), pastes_path %></p>

<% @pastes.each do |paste| %>
  <div>
    <%= link_to paste do %>
      [<%= paste.tag %>] <%= time_ago_in_words(paste.created_at) %> ago
    <% end %>
  </div>
<% end %>
