<h1><%= t("mailers.magic_link.heading") %></h1>
<p><%= t("mailers.magic_link.intro_html") %></p>
<p><a href="<%= @magic_link %>"><%= t("mailers.magic_link.action") %></a></p>
<p><%= t("mailers.magic_link.expiry", minutes: 15) %></p>
